* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  place-items: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-areas:
    "a a a b"
    "a a a b"
    "c c d d"
    "c c e e";
  gap: 10px;
  margin: auto;
  width: 50%;
}
main div {
  padding: 2em;
  text-align: center;
}

.item-a {
  background-color: orangered;
  grid-area: a;
  height: 150px;
}
.item-b {
  background-color: yellow;
  grid-area: b;
  height: 150px;
}
.item-c {
  background-color: green;
  grid-area: c;
}
.item-d {
  background-color: rgb(13, 13, 144);
  grid-area: d;
  height: 100px;
}
.item-e {
  grid-area: e;
  background-color: blue;
  height: 100px;
}
